body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

footer {
    display: None;
    text-align: center;
}

.tpl {
    display: none;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 102px;
    display: None;
}

.forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 5000;
}

.avatar {
    float: left;
}